body {
  font-size: 20px;
  line-height: 1.5;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


/* === Utility === */
.text-white {
  color: #FFF;
}

.text-primary {
  color: #650300;
}

.text-alert {
  color: #AA0601;
}

.bg-primary {
  background-color: #AA0601;
}

.bg-secondary {
  background: #AA06010D;
}

.description {
  font-size: 16px;
}

.h2 {
  font-size: 48px;
  font-weight: bold;
}

.h3 {
  font-size: 24px;
  font-weight: bold;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 48px;
}


/* === header === */
.header {
  padding: 30px 88px;
}

.header .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo a {
  display: block;
  background: url("../images/logo.png");
  width: 80px;
  height: 49px;

  /* 圖片取代文字: 但文字不顯示在頁面但 HTML 依舊存在 */
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.header .menu {
  /* width: 512px; */
  display: flex;
  justify-content: space-between;
}

.header .menu li:nth-child(-n+3) {
  margin-right: 64px;
}

.header .menu li a {
  display: block;
  text-decoration: none;
  line-height: 49px; /* 與 logo 一樣高，等同於文字置中效果，若沒設雖然整個 a 因 ai:s 撐開，但文字卻向上靠 */
  padding: 0 10px; /* 點擊範圍左右擴大一點 */
}


/* === banner === */
.banner {
  background: url("../images/banner.png") center center;
  background-size: cover;
  height: 840px;

  display: flex;
  align-items: center;
  text-align: right;
}

.sub-slogan {
  font-size: 36px;
}

.slogan {
  font-size: 64px;
  font-weight: bold;
}


/* === brief === */
.brief {
  padding: 60px 0 80px 0;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services img {
  height: 83px;
  width: 100%; /* 以父層的 100% 作為寬度 */
  object-fit: contain; /* 為防止圖片變形，圖片完整且剛好放進去框框裡 */
}

.services p {
  width: 255px;
  text-align: justify;
}

/* === classic ===*/
.classic {
  text-align: center;
  text-transform: uppercase; /* 轉成大寫 */
}

.classic .container > .h2 {
  margin-top: 60px;
}

.classic li {
  display: flex;
  align-items: center;
}

.classic img {
  margin-right: 30px;
}

.classic .products h2 {
  font-style: italic;
}

.product-sunglasses {
  flex-direction: row-reverse;
}

.product-sunglasses img {
  margin-left: 30px;
}

/* === co-branded === */
.co-branded {
  background: url("../images/bg.png") center center;
  margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

.co-branded .products {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.co-branded .products li {
  width: 49%;
  /* width: calc((100% - 30px)/2); */
  background: #FFF;
  position: relative;
}

.co-branded .products a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 455px;
  background-size: cover; /* 圖片大於要放的框 */

  line-height: 455px;
  font-size: 72px;
  font-weight: bold;
  text-decoration: none;

  /* FIXME: 兩張圖還要刷淡！但文字會跟著變淡欸！ */
  opacity: 0.7;
  /* z-index: 1; */
}

.co-branded .products p {
  /* FIXME: 這邊還不太懂 */
  font-size: 72px;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 位移置中物件自身寬與高的 50% */
}

.co-branded .brand-1 a {
  background: url("../images/product-8.png") center center;
}

.co-branded .brand-2 a {
  background: url("../images/product-9.png") center center;
}


/* === recommendations === */
.recommendations {
  padding-top: 60px;
  padding-bottom: 80px;
}

.recommendations .h2 {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-content: space-between; */
}

.cards li {
  /* width: calc((100% - 90px)/4); */ /* 扣掉 padding 總和 90 後除 4 */
  width: 24%;
  max-width: 255px;
  height: 460px;
  border: 1px solid #DEE2E6;
  box-shadow: 0px 2px 6px #00000029;
}

.cards img {
  height: 256px;
  object-fit: cover; /* 保持圖片比並裁剪至適合的大小中 */
}

.cards-content {
  height: calc(100% - 256px); /* 扣掉上面 img 剩下的 */
  padding: 16px;
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-content .name {
  font-size: 14px;
  line-height: 21px;
}

.cards-content .comment {
  font-size: 16px;
}

.cards-content .date {
  font-size: 14px;
  line-height: 21px;
  color: #707070;
}

/* === contact === */
.contact {
  padding-top: 60px;
  padding-bottom: 80px;
}

.contact .container {
  width: 58%;
  max-width: 730px;
  margin: 0 auto;
}

.form {
  font-size: 16px;
}

.contact .h2 {
  text-align: center;
}

.form-text {
  display: flex;
  flex-direction: column;
}

.form-text input {
  height: 50px;
}

.contact button {
  display: block;
  padding: 16px 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* === footer === */
.footer {
  padding: 32px 0 39px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top .media {
  width: 208px;
  display: flex;
  justify-content: space-between;
}

.footer-top .menu {
  display: flex;
  justify-content: space-between;
}

.footer-top .menu li {
  margin-right: 48px;
}

.footer-top .menu a {
  display: block;
  text-decoration: none;
}

.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px; /* 也要給，這樣 svg 長寬才能正確顯示 */
}

.facebook {
  background: url("../images/icon-fb.svg");
}

.instagram {
  background: url("../images/icon-ig.svg");
}

.line {
  background: url("../images/icon-line.svg");
}

.footer-main {
  margin-top: 36px;
}

.contact-us {
  border-bottom: 1px solid #FFF;
  padding-bottom: 24px;
}

.contact-us li {
  display: flex;
  align-items: center;
}

.icon.phone {
  background: url("../images/icon-phone.svg");
  width: 36px;
  height: 36px;
  margin-right: 32px;
}

.icon.mail {
  background: url("../images/icon-mail.svg");
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.footer-foot {
  display: flex;
  justify-content: space-between;
}

.rules {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
}

.rules li {
  margin-left: 48px;
}

.copyright {
  font-size: 16px;
}


/* === RWD === */
@media (max-width: 992px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .product-sunglasses {
    flex-direction: row;
  }

  .product-sunglasses img {
    margin-left: 0;
  }

  .co-branded .products a {
    height: 278px;
    line-height: 278px;
  }

  .cards li {
    width: 49%;
    max-width: 330px;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
}

@media (max-width: 767px) {

}