body {
  font-size: 20px;
  line-height: 1.5;
}

.container {
  width: 1110px;
  margin: 0 auto;
}


/* === test === */
/* .header > * {
  border: 1px solid #000;
} */


/* === Utility === */
.text-white {
  color: #FFF;
}

.text-primary {
  color: #650300;
}

.text-alert {
  color: #AA0601;
}

.description {
  font-size: 16px;
}

.h2 {
  font-size: 48px;
  font-weight: bold;
}

.h3 {
  font-size: 24px;
  font-weight: bold;
}


/* === header === */
.header {
  padding: 30px 88px;
  background-color: #AA0601;
}

.header .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo a {
  display: block;
  background: url("../images/logo.png");
  width: 80px;
  height: 49px;

  /* 圖片取代文字: 但文字不顯示在頁面但 HTML 依舊存在 */
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  width: 512px;
  display: flex;
  justify-content: space-between;
}

.menu li a {
  display: block;
  text-decoration: none;
  line-height: 49px; /* 與 logo 一樣高，等同於文字置中效果，若沒設雖然整個 a 因 ai:s 撐開，但文字卻向上靠 */
  padding: 0 10px; /* 點擊範圍左右擴大一點 */
}


/* === banner === */
.banner {
  background: url("../images/banner.png") center center;
  background-size: cover;
  height: 840px;

  display: flex;
  align-items: center;
  text-align: right;
}

.sub-slogan {
  font-size: 36px;
}

.slogan {
  font-size: 64px;
  font-weight: bold;
}


/* === brief === */
.brief {
  background: #AA06010D;
  padding: 60px 0 80px 0;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.services .h3 {
  margin-top: 24px;
}

.services img {
  height: 83px;
  width: 100%; /* 以父層的 100% 作為寬度 */
  object-fit: contain; /* 為防止圖片變形，圖片完整且剛好放進去框框裡 */
}

.services p {
  width: 255px;
  margin-top: 8px;
  text-align: justify;
}

/* === classic ===*/
.classic {
  text-align: center;
  text-transform: uppercase; /* 轉成大寫 */
}

.classic .container > .h2 {
  margin-top: 60px;
}

.classic .products {
  margin-top: 40px;
}

.classic li {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.classic img {
  margin-right: 30px;
}

.classic .products h2 {
  font-style: italic;
}

.product-sunglasses {
  flex-direction: row-reverse;
}

.product-sunglasses img {
  margin-left: 30px;
}